.urlShortener {
    max-width: 500px;
    margin: auto;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    border-radius: 10px;
    background-color: #2e2e2e;
}

.urlShortener[aria-disabled="true"] {
    opacity: 0.5;
    pointer-events: none;
}

.input {
    box-sizing: border-box;
    width: 100%;
    padding: 24px 12px;
    font-size: 16px;
}

.button {
    width: 100%;
    padding: 24px;
    font-size: 16px;
}
