.urlShortener {
    max-width: 500px;
    margin: auto;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    border-radius: 10px;
    background-color: #2e2e2e;
}

.urlShortener[aria-disabled="true"] {
    opacity: 0.5;
    pointer-events: none;
}

.shortUrl {
    margin: auto;
    padding: 16px;
    display: flex;
    list-style: none;
    flex-direction: column;
    gap: 8px;
    max-width: 500px;
    border-radius: 10px;
    background-color: #2e2e2e;

    li {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    a {
        text-decoration: none;
        color: aquamarine;
    }
}

.input {
    box-sizing: border-box;
    width: 100%;
    padding: 24px 12px;
    font-size: 16px;
}

.button {
    width: 100%;
    padding: 24px;
    font-size: 16px;
}
